<br />
<div class="alert alert-danger" role="alert"
    *ngIf="possuiErro">
    Erro obtendo dados. Tente novamente.
</div>

<div class="card text-white">
    <div class="card-header bg-success">
        Selecione a moeda a ser convertida
    </div>

    <form #conversaoForm="ngForm" class="form-inline">
        <div class="container">
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-sm">
                        <input 
                            type="text" 
                            name="valor" 
                            class="form-control text-right" 
                            placeholder="0" 
                            required
                            [(ngModel)]="conversao.valor" >
                    </div>
                    <div class="col-sm">
                        <select 
                            name="moedaDe" 
                            class="form-control" 
                            required
                            [(ngModel)]="conversao.moedaDe" >
                            <option
                                *ngFor="let moeda of moedas"
                                [value]="moeda.sigla">
                                {{ moeda.sigla }} - {{ moeda.descricao }}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm">
                        <div class="btn btn-success bi bi-arrow-right-square"></div>
                    </div>                    
                    <div class="col-sm">
                        <select 
                            name="moedaPara" 
                            class="form-control" 
                            required
                            [(ngModel)]="conversao.moedaPara">
                            <option
                                *ngFor="let moeda of moedas"
                                [value]="moeda.sigla">
                                {{ moeda.sigla }} - {{ moeda.descricao }}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm">
                        <input 
                            type="submit" 
                            value="Converter" 
                            class="btn btn-success"
                            data-toggle="modal"
                            data-target="#modalCotacao"
                            (click)="converter()"
                            [disabled]="!conversaoForm.form.valid" >
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>